<h2>Edit Recipe</h2>

<form action="/recipes/<%= @recipe.slug %>" method="post">
    <input type="hidden" name="_method" value="patch">
    Name: <input type="text" name="recipe_name" size="50" value="<%= @recipe.name %>"><br>
    Ingredients: <br>
    <textarea rows="20" cols="80" name="ingredients"><%= @recipe.ingredients %></textarea><br>
    Directions:  <br>
    <textarea rows="20" cols="80" name="directions"><%= @recipe.directions %></textarea><br>
    <input type="submit" value="Submit">
</form>

<form action="/recipes/<%= @recipe.slug %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
</form>
<a href="/recipes/<%= @recipe.slug %>" class="button"><button>Cancel</button></a>
